.card {
  display: grid;
  max-width: 300px;
  grid-template-columns: 1fr;
}

.card img {
  max-width: 100%;
  height: auto;
  max-height: 450px;
}

.card-attributes {
  display: grid;
  grid-template-columns: max-content auto;
}

.card-attributes dt {
  font-weight: bold;
  text-align: right;
}

.card-attributes dd {
  margin-left: 1rem;
}
